[user]
	email = skeate@gmail.com
	name = Jonathan Skeate
[pull]
	rebase = true
[init]
  defaultBranch = main
[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true
[push]
  default = simple
[help]
  # Automatically correct and execute mistyped commands.
  autocorrect = 1
[commit]
  # https://help.github.com/articles/signing-commits-using-gpg/
  gpgsign = true
